<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="assets/css/game.css">
  <link href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap" rel="stylesheet">
</head>

<body>
  <div id="frame">
    <div id="content"></div>
    <div id="captions"></div>
  </div>
</body>
</html>